@model Sales.ViewModels.SaleRecordViewModel;
@using System.Globalization
@using Sales.Helpers;

@{
    ViewBag.Title = string.Format("Exclusão da Venda #{0}", Model.Id);
}

<div class="container">
    <h4>@ViewBag.Title</h4>

    <hr style="margin-bottom: 0.5rem !important;" />

    <div class="row">
        <div class="col-md-6">
            <form asp-controller="SaleRecords" asp-action="Delete">
                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    <label asp-for="@Model.Date" class="control-label">Data</label>
                    <input readonly asp-for="@Model.Date" class="form-control" placeholder="Data" />
                </div>

                <div class="form-group mt-4">
                    <label asp-for="@Model.Amount" class="control-label">Quantidade</label>
                    <input readonly asp-for="@Model.Amount" class="form-control" placeholder="Quantidade" />
                </div>

                <div class="form-group mt-4">
                    <label asp-for="@Model.Status" class="control-label">Status do Pedido</label>
                    <input readonly asp-for="@Model.Status" value="@Model.Status.GetDescription()" class="form-control" placeholder="Status do Pedido" />
                </div>

                <div class="form-group mt-4">
                    <label asp-for="@Model.SellerName" class="control-label">Vendedor</label>
                    <input readonly asp-for="@Model.SellerName" class="form-control" placeholder="Vendedor" />
                </div>

                <div class="d-flex justify-content-between align-items-center form-group mt-4">
                    <a asp-action="Index" class="btn btn-secondary text-decoration-underline">
                        Voltar
                    </a>
                    <button type="submit" class="btn btn-danger">
                        Excluir
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>